---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [5]:
import pandas as pd
df=pd.read_csv('olympics.csv',skiprows=1,skipfooter=0)

df.head()

,Unnamed: 0,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [11]:
name_id=df['Unnamed: 0'].str.split('(') 
name_id

0                                 [Afghanistan , AFG)]
1                                     [Algeria , ALG)]
2                                   [Argentina , ARG)]
3                                     [Armenia , ARM)]
4                           [Australasia , ANZ) [ANZ]]
5                         [Australia , AUS) [AUS] [Z]]
6                                     [Austria , AUT)]
7                                  [Azerbaijan , AZE)]
8                                     [Bahamas , BAH)]
9                                     [Bahrain , BRN)]
10                             [Barbados , BAR) [BAR]]
11                                    [Belarus , BLR)]
12                                    [Belgium , BEL)]
13                                    [Bermuda , BER)]
14                          [Bohemia , BOH) [BOH] [Z]]
15                                   [Botswana , BOT)]
16                                     [Brazil , BRA)]
17                  [British West Indies , BWI) [BWI]]
18                               [Bulgaria , BUL) [H]]
19                                    [Burundi , BDI)]
20                                   [Cameroon , CMR)]
21                                     [Canada , CAN)]
22                                  [Chile , CHI) [I]]
23                                [China , CHN) [CHN]]
24                                   [Colombia , COL)]
25                                 [Costa Rica , CRC)]
26                          [Ivory Coast , CIV) [CIV]]
27                                    [Croatia , CRO)]
28                                   [Cuba , CUB) [Z]]
29                                     [Cyprus , CYP)]
                            ...
117                           [Sri Lanka , SRI) [SRI]]
118                                     [Sudan , SUD)]
119                              [Suriname , SUR) [E]]
120                                [Sweden , SWE) [Z]]
121                               [Switzerland , SUI)]
122                                     [Syria , SYR)]
123               [Chinese Taipei , TPE) [TPE] [TPE2]]
124                                [Tajikistan , TJK)]
125                            [Tanzania , TAN) [TAN]]
126                                  [Thailand , THA)]
127                                      [Togo , TOG)]
128                                     [Tonga , TGA)]
129                 [Trinidad and Tobago , TRI) [TRI]]
130                                   [Tunisia , TUN)]
131                                    [Turkey , TUR)]
132                                    [Uganda , UGA)]
133                                   [Ukraine , UKR)]
134                      [United Arab Emirates , UAE)]
135             [United States , USA) [P] [Q] [R] [Z]]
136                                   [Uruguay , URU)]
137                                [Uzbekistan , UZB)]
138                                 [Venezuela , VEN)]
139                                   [Vietnam , VIE)]
140                            [Virgin Islands , ISV)]
141                          [Yugoslavia , YUG) [YUG]]
142    [Independent Olympic Participants , IOP) [IOP]]
143                              [Zambia , ZAM) [ZAM]]
144                            [Zimbabwe , ZIM) [ZIM]]
145                          [Mixed team , ZZX) [ZZX]]
146                                           [Totals]
Name: Unnamed: 0, Length: 147, dtype: object

In [16]:
import pandas as pd
df=pd.read_csv('olympics.csv',skiprows=1,skipfooter=0)

i=0
columns=df.columns
for col in columns:
    if (col[:1]=='№'):
        df.rename(columns={col: '# '+col[2:]},inplace=True)
    elif (col[:2]=='01'):
        df.rename(columns={col: 'Gold'+col[5:]},inplace=True)    
    elif (col[:2]=='02'):
        df.rename(columns={col: 'Silver'+col[5:]},inplace=True)
    elif (col[:2]=='03'):
        df.rename(columns={col: 'Bronze'+col[5:]},inplace=True)
           
df.set_index('Unnamed: 0',inplace=True)    # making country name our index
# cleaning the index 
name_id=df.index.str.split('(')            
index=name_id.str[0].str[0:-1]
id=name_id.str[1].str[0:3]
df['ID']=id
df.set_index(index,inplace=True)
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold1,Silver1,Bronze1,Total.1,# Games,Gold2,Silver2,Bronze2,Combined total,ID
Unnamed: 0,,,,,,,,,,,,,,,,
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,TJK
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX
Total,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,NaN

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [18]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value

def answer_zero():
    
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold1               0
Silver1             0
Bronze1             0
Total.1             0
# Games            13
Gold2               0
Silver2             0
Bronze2             2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [20]:
def answer_one():
#     df.drop('Total',inplace=True)
    max_gold_country_position=df['Gold'].values.argmax()
    max_gold_country=df['Gold'].argmax()
    return print("country Position:" +str(max_gold_country_position) +" Name =" +max_gold_country)

answer_one()

country Position:146 Name =Total

C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  after removing the cwd from sys.path.

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [21]:
def answer_two():
    df['diff']=df['Gold']-df['Gold1']
    print(abs(df['diff'].max()))
    return df['diff'].argmax()

answer_two()

3850

C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  after removing the cwd from sys.path.

'Total'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [22]:
def answer_three():
    df1=df[(df['Gold']>0) & (df['Gold1']>0)]
    df1['diff']=df1['Gold']-df1['Gold1']
    df1['Total Gold']=df1['Gold']+df1['Gold1']+df1['Gold2']
    df1['rel']=df1['diff']/df1['Total Gold']
    
    return df1['rel'].argmax()

answer_three()
# df2=df[(df['Gold']==0) & (df['Gold1']==0)]
# df-df2

C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  import sys

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [23]:
def answer_four():
    Points=df['Gold2']*3+df['Silver2']*2+df['Bronze2']
    return Points
answer_four()

Unnamed: 0
Afghanistan                             2
Algeria                                27
Argentina                             130
Armenia                                16
Australasia                            22
Australia                             923
Austria                               569
Azerbaijan                             43
Bahamas                                24
Bahrain                                 1
Barbados                                1
Belarus                               154
Belgium                               276
Bermuda                                 1
Bohemia                                 5
Botswana                                2
Brazil                                184
British West Indies                     2
Bulgaria                              411
Burundi                                 3
Cameroon                               12
Canada                                846
Chile                                  24
China                                1120
Colombia                               29
Costa Rica                              7
Ivory Coast                             2
Croatia                                67
Cuba                                  420
Cyprus                                  2
                                    ...
Sri Lanka                               4
Sudan                                   2
Suriname                                4
Sweden                               1217
Switzerland                           630
Syria                                   6
Chinese Taipei                         32
Tajikistan                              4
Tanzania                                4
Thailand                               44
Togo                                    1
Tonga                                   2
Trinidad and Tobago                    27
Tunisia                                19
Turkey                                191
Uganda                                 14
Ukraine                               220
United Arab Emirates                    3
United States                        5684
Uruguay                                16
Uzbekistan                             38
Venezuela                              18
Vietnam                                 4
Virgin Islands                          2
Yugoslavia                            171
Independent Olympic Participants        4
Zambia                                  3
Zimbabwe                               18
Mixed team                             38
Total                               34848
Length: 147, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [29]:
df=pd.read_csv('census.csv')
df=df[df['SUMLEV']==50]
df['CTYNAME'].groupby(df['STNAME']).count()

STNAME
Alabama                  67
Alaska                   29
Arizona                  15
Arkansas                 75
California               58
Colorado                 64
Connecticut               8
Delaware                  3
District of Columbia      1
Florida                  67
Georgia                 159
Hawaii                    5
Idaho                    44
Illinois                102
Indiana                  92
Iowa                     99
Kansas                  105
Kentucky                120
Louisiana                64
Maine                    16
Maryland                 24
Massachusetts            14
Michigan                 83
Minnesota                87
Mississippi              82
Missouri                115
Montana                  56
Nebraska                 93
Nevada                   17
New Hampshire            10
New Jersey               21
New Mexico               33
New York                 62
North Carolina          100
North Dakota             53
Ohio                     88
Oklahoma                 77
Oregon                   36
Pennsylvania             67
Rhode Island              5
South Carolina           46
South Dakota             66
Tennessee                95
Texas                   254
Utah                     29
Vermont                  14
Virginia                133
Washington               39
West Virginia            55
Wisconsin                72
Wyoming                  23
Name: CTYNAME, dtype: int64

In [30]:
def answer_five():
    df=pd.read_csv('census.csv')
    df=df[df['SUMLEV']==50]
    s=df['CTYNAME'].groupby(df['STNAME']).count()
    return s.argmax()

answer_five()

C:\ProgramData\Anaconda6\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [5]:
def answer_six():
   
    
    return 
answer_six()

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [6]:
def answer_seven():

   
answer_seven()
#     return "YOUR ANSWER HERE"

IndentationError: expected an indented block (<ipython-input-6-1bf83eb3183a>, line 4)

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [7]:
def answer_eight():
    
    
    return 

answer_eight()